---
title: 앱
permalink: /apps/
layout: default
excerpt: Electron 으로 개발한 놀라운 앱을 만나보세요.
---


<div class='subtron'>
  <div class='container-narrow'>
    <h1>Electron 으로 개발된 제품</h1>
    <p class="lead mb-3">
      Electron 과 함께면 회사나 개인의 데스크탑 애플리케이션을 쉽게 만들 수 있습니다. 처음 Github 의 <a href='https://atom.io' target='_blank'>Atom 편집기</a>를 위해 개발 되었습니다. Electron 이후 Microsoft, Facebook, Slack, Docker 같은 회사에 의해 애플리케이션 제작에 사용되었습니다.
    </p>
  </div>
</div>

<section class='page-section'>
  <div class='container text-center' id="apps">
    <div class="mb-4">
      {% for app in site.data.apps %}
        {% unless app.featuredOpenSource %}
          {% include featured_app.html %}
        {% endunless %}
      {% endfor %}
    </div>
    <p class="mt-6">
      당신의 앱을 추가하기 위해 <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site" target="_blank">Pull Request 를 해주세요</a>.
    </p>
    <hr>
  </div>

  <div class='container-narrow text-center' id="open-source">
    {% include featured_open_source_apps.html %}
  </div>

</section>
