---
title: 커뮤니티
permalink: /community/
layout: default
---

<div class='subtron'>
  <div class='container-narrow'>
    <h1>Electron 커뮤니티</h1>
    <p class="lead mb-3">
      Electron <a href="https://github.com/sindresorhus/awesome-electron" target="_blank">최고</a> 공개 소스 기여자의 도구, 보일러플레이트, 영상 등. 근처의 <a href="#meetups">밋업</a> 을 찾거나 추가해주세요.
    </p>
  </div>
</div>

<section class='page-section'>

  <div class="container-narrow text-center">

    <h2 id="tools">도구</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {% for item in site.data.awesome_electron %}
        {% if item.category == 'tools' and item.subcategory == 'for_electron' %}
          <tr>
            <td>
              <a href="{{ item.href }}" target="_blank">{{ item.name }}</a>
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h2 id="boilerplates">보일러플레이트</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {% for item in site.data.awesome_electron %}
        {% if item.category == 'boilerplates' %}
          <tr>
            <td>
              <a href="{{ item.href }}" target="_blank">{{ item.name }}</a>
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h2 id="components">구성 요소</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {% for item in site.data.awesome_electron %}
        {% if item.category == 'components' %}
          <tr>
            <td>
              <a href="{{ item.href }}" target="_blank">{{ item.name }}</a>
            </td>
            <td>
              {{ item.description }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <h2 id="videos">영상</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {% for item in site.data.awesome_electron %}
        {% if item.category == 'videos' %}
          <tr>
            <td>
              <a href="{{ item.href }}" target="_blank">{{ item.name }}</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>

    <p class="mt-3 mt-md-6">
      이 목록은
      <a href="https://github.com/sindresorhus/awesome-electron">@sindresorhus's Awesome Electron</a>
      저장소에서 생성되었습니다.<br>
      잘못된게 있나요?
      <a href="https://github.com/sindresorhus/awesome-electron/blob/master/contributing.md">pull request 를 하세요</a>.
    </p>

    <h2 id="meetups" class="mt-7">밋업</h2>
    <table class="table table-ruled table-full-width table-with-spacious-first-column mb-7">
      {% for item in site.data.meetups %}
          <tr>
            <td>
              <a href="{{ item.href }}" target="_blank">{{ item.name }}</a>
            </td>
            <td>
              {{ item.location }}, {{ item.country }}
            </td>
          </tr>
      {% endfor %}
    </table>

    <p class="mt-3 mt-md-6">
      밋업을 추가하려면 <code>_data/meetups.yml</code> 를 수정하고 <a href="https://github.com/electron/electron.atom.io/edit/gh-pages/_data/meetups.yml" target="_blank">pull request 를 하세요</a>.
    </p>
  </div>
</section>
