---
permalink: /
layout: default
---

  <script src="{{ site.baseurl }}/js/vendor/ua-parser-js-0.7.10.js"></script>
  <script src="{{ site.baseurl }}/js/update-download-link.js"></script>

  <div class="jumbotron jumbotron-home text-center">
    <div class="container">
      {% include hero.html %}
      <p class='jumbotron-lead'>크로스 플랫폼 데스크탑 앱 개발
        <span class='jumbotron-lead-muted'>with JavaScript, HTML, and CSS</span>
      </p>
    </div>
  </div>

  <div class="subtron py-4 text-center">
    <div class="container">
      <div id="electron-versions" class="electron-versions">
        <span class="electron-versions-main">Electron: <strong>{{ site.latest_version }}</strong></span>
        <span>Node: <strong>{{ site.current_node }}</strong></span>
        <span>Chromium: <strong>{{ site.current_chrome }}</strong></span>
        <span>V8: <strong>{{ site.current_v8 }}</strong></span>
      </div>
    </div>
  </div>

  <section class="page-section page-section-spacious" id='electron'>
    <div class="container-narrow">
      <h1 class="text-center-sm">매우 쉽습니다</h1>
      <p class="lead text-center-sm">
        웹 사이트를 만들 수 있다면, 데스크탑 앱을 만들 수 있습니다. Electron 은
        JavaScript, HTML, CSS 같은 웹 기술로 네이티브 애플리케이션을 만드는
        프레임워크입니다. 당신이 애플리케이션 개발에만 집중할 수 있도록 어려운
        부분을 대신합니다.
      </p>

      <p class="text-center-sm mt-4">
        <a class="btn btn-lg btn-outline-themed" href="https://youtu.be/8YP_nOCO-4Q" target="_blank">
          <span class="octicon octicon-eye mr-1"></span>
          <span class="label">영상 보기</span>
        </a>
      </p>

      <hr>

      <div class="row text-center text-small mt-6">
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/web-tech.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0">웹 기술</h3>
          <p>Electron 은 <strong>Chromium</strong> 과 <strong>Node.js</strong> 를 사용합니다. 그래서 <strong>HTML</strong>, <strong>CSS</strong>, and <strong>JavaScript</strong> 로 앱을 개발할 수 있습니다.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/open-source.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0">공개 소스</h3>
          <p>Electron 은 <strong>Github</strong> 와 기여자 <strong>커뮤니티</strong>에 의해 유지되는 공개 소스입니다.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/cross-platform.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0">크로스 플랫폼</h3>
          <p><strong>Mac</strong>, <strong>Windows</strong>, <strong>Linux</strong> 와 호환됩니다. Electron 앱은 세 플랫폼에서 빌드하고 실행할 수 있습니다.</p>
        </div>
      </div>

      <div class="row text-center mt-6 mb-4">
        <h2>어려운 작업을 쉽게 해 줍니다</h2>
      </div>

      <div class="row text-center text-small mt-3">
        <div class='col-xs-12 col-sm-4 col-md-2 offset-md-1 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/auto-updater/">
            <span class="octicon hero-octicon octicon-squirrel" aria-hidden="true"></span>
            자동 업데이트
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/menu/">
            <span class="octicon hero-octicon octicon-device-desktop" aria-hidden="true"></span>
            네이티브 메뉴<br>&amp; 알림
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/crash-reporter/">
            <span class="octicon hero-octicon octicon-bug" style="padding-left:2px" aria-hidden="true"></span>
            앱 충돌 보고
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 offset-sm-2 col-md-2 offset-md-0 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/content-tracing/">
            <span class="octicon hero-octicon octicon-tools" aria-hidden="true"></span>
            디버깅<br>&amp; 프로파일링
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="{{ site.baseurl }}/docs/api/auto-updater/#windows">
            <span class="octicon hero-octicon octicon-gift" style="padding-right:2px" aria-hidden="true"></span>
            윈도우 인스톨러
          </a>
        </div>
      </div>

    </div>
  </section>


  <section class='page-section page-section-spacious bg-shade' id='get-started'>
    <div class='container-narrow text-center'>
      <h1>시작하기</h1>
      <p class="lead">
        Electron 을 시작하려면 아래 자료를 참고하세요. Electron 으로 웹앱을 포장하는 것, 모든 API 접근법, 설치파일 생성방법을 배울 수 있습니다. 
      </p>


      <div class='row mt-8'>
        <div class='col-xs-12 col-md-5'>
          <a href="https://github.com/electron/electron-api-demos/releases">
            <div class="app-frame py-4 px-6">
              <img alt="Screenshot of Electron API Demos app" src='{{ site.baseurl }}/images/electron-api-demos.png'>
            </div>
          </a>
        </div>
        <div class='col-xs-12 col-md-7 text-left'>
          <h3 class="mt-1 mb-3">Electron API 탐색</h3>
          <p><a href="https://github.com/electron/electron-api-demos">Electron API 데모 앱</a>은 Electron API 의 많은 중요 기능을 대화형으로 보여줍니다. 샘플코드와 팁으로 앱앱을 구축하기 위해 Electron 으로 무엇을 할 수 있는지 확인하세요.</p>
          <p>
            <a id="download-latest-release" class="btn btn-lg btn-outline-themed" href="https://github.com/electron/electron-api-demos/releases">
              <span class="octicon octicon-desktop-download mr-1"></span>
              <span class="label">GitHub 에서 다운로드</span>
            </a>
            <p id="download-alternatives" class="text-sm" style="display:none;">
              Github 에서 <a href="https://github.com/electron/electron-api-demos/releases">모든 배포버전 보기</a>
           </p>
          </p>
        </div>
      </div>

      <hr>

      <h3 class="mb-3">Electron 의 동작을 보기위해 <a href='https://github.com/electron/electron-quick-start' target='_blank'>Quick Start</a> 앱을 해보세요:</h3>
      <p>도움이 되는 코드를 포함한 작은 Electron 앱.</p>
      <figure class="highlight highlight-dark text-left my-4">
<pre><code><span class="c1"># Quick Start 저장소 복제</span>
$ git clone https://github.com/electron/electron-quick-start

<span class="c1"># 저장소로 이동</span>
$ cd electron-quick-start

<span class="c1"># 종속 패키지를 설치하고 실행</span>
$ npm install &amp;&amp; npm start</code></pre>
      </figure>
      <h3>또는 <a href='{{ site.baseurl }}/docs/'>문서</a> 를 읽어보세요.</h3>

      <h3 class="pt-4">도움이 필요한가요?</h3>
      <p><a href='https://discuss.atom.io/c/electron'>토론</a> 포럼이나 <a href='http://atom-slack.herokuapp.com/'>슬랙</a> 채널을 통해 질문하세요. 트위터에서 <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> 를 팔로우하면 중요한 공지를 받을 수 있습니다. 개인적으로 질문하려면 <a href="mailto:electron@github.com">electron@github.com</a> 로 이메일을 보내주세요.</p>

    </div>
  </section>

  <section class='page-section page-section-spacious' id='apps'>
    <div class="container-narrow text-center">
      <h1>Electron 으로 개발된 앱</h1>
      <p class="lead">
        Electron 과 함께면 회사나 개인의 데스크탑 애플리케이션을 쉽게 만들 수 있습니다. 처음 Github 의 <a href='https://atom.io' target='_blank'>Atom 편집기</a>를 위해 개발 되었습니다. Electron 이후 Microsoft, Facebook, Slack, Docker 같은 회사에 의해 애플리케이션 제작에 사용되었습니다.
      </p>

      <hr>

      <div>
        <div class="mb-4">
          {% for app in site.data.apps %}
            {% if app.featuredOnHomepage %}
              {% include featured_app.html %}
            {% endif %}
          {% endfor %}
        </div>
        <p class="mt-6">
          <a href='{{ site.baseurl }}/apps'>더 많은 앱 보기</a>
            또는
           <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site">직접 만든 앱 제출하기</a>.
        </p>
      </div>

      <hr>

      <div>
        {% include featured_open_source_apps.html %}
      </div>

    </div>
  </section>
