---
layout: default
---

<div class='subtron text-left'>
  <div class='container-narrow'>
    <h1><span class="mr-3 mr-lg-4">Electron Documentation</span><span class="docs-version">{{ site.latest_version }}</span></h1>

    <h4 class="docs-breadcrumbs">
      <a href='{{ site.baseurl }}/docs/'>Docs</a>
      {% if page.category != 'ignore' %}
      <span class="docs-breadcrumbs-divider">/</span>
      <a href='{{ site.baseurl }}/docs/{{ page.category | downcase }}/'>{{ page.category }}</a>
      {% endif %}

      {% if page.title != 'README' %}
      <span class="docs-breadcrumbs-divider">/</span>
      {% if page.breadcrumb %}
      {{ page.breadcrumb }}
      {% else %}
      {{ page.title }}
      {% endif %}
      <!-- <a class="ml-4" href='{{ page.source_url }}'><span class="octicon octicon-pencil"></span> Edit source</a> -->
      {% endif %}
    </h4>
  </div>
</div>

{% if page.category == 'API' %}
<div>
  <div class="container-narrow position-relative">
    <ul class="docs-tags">
      <li class="docs-tag">{{ site.data.processes[page.title] }}</li>
    </ul>
  </div>
</div>
{% endif %}

<section class='page-section docs strong-headers'>
  <div class='container-narrow'>

    {{ content }}


    {% if page.category != 'ignore' %}
    <hr>
    <div class='text-center'>
      <span class="d-inline-block text-left">
        <span class="octicon octicon-pencil mr-2"></span>
        고쳐야 할 것이 있습니까? <a href='{{ page.source_url }}'>소스</a>에서 변경을 제안할 수 있습니다.
        <br>
        <span class="octicon octicon-zap mr-2"></span>
        문서의 다른 버전이 필요한가요? <a href='{{ site.baseurl }}/docs/versions/'>이전 버전</a> 또는 <a href="https://github.com/electron/electron/tree/master/docs-translations" target="_blank">커뮤니티 번역</a>을 보세요.
        <br>
        <span class="octicon octicon-book mr-2"></span>
        모든 문서를 한번에 검색하고 싶으신가요? <a href='{{ site.baseurl }}/docs/all'>한 페이지 문서</a>를 보세요.
      </span>
    </div>
    {% endif %}

  </div>
</section>
